# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.venv/

# Ignore environment variables
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system/IDE files
.vscode/

# Ignore text files
.txt


# Ignore the Cache folder
backend/data/f1cache